body{
    font-family:  "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif;
}
.dropdown-toggle:hover, .button-link:hover {
    opacity: 50%;
}

button.btn-outline-primary:hover, button.btn:hover{
    background-color: transparent;
    opacity: 50%;
}


.vertical.carousel .carousel-item {
    overflow: hidden;
}

.vertical.carousel .carousel-item-next:not(.carousel-item-start),
.vertical.carousel .active.carousel-item-end {
    transform: translateY(100%);
}

.vertical.carousel .carousel-item-prev:not(.carousel-item-end),
.vertical.carousel .active.carousel-item-start {
    transform: translateY(-100%);
}

.vertical.carousel .carousel-indicators {
    top: 0;
    left: unset;

    margin-left: unset !important;
    margin-right: 1rem;

    flex-direction: column;
}
header{
    font-family:  "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif;
}
.vertical.carousel .carousel-indicators [data-bs-target] {
    height: 30px;
    width: 3px;
}

.vertical.carousel .carousel-control-prev,
.vertical.carousel .carousel-control-next {
    width: 100%;
    height: 60px;
}

.vertical.carousel .carousel-control-prev-icon,
.vertical.carousel .carousel-control-next-icon {
    transform: rotateZ(90deg);
}

.vertical.carousel .carousel-control-next {
    top: unset;
    bottom: 0;
}
.checked {
    color: rgb(10, 177, 10);
  }
.zoomin:hover{
    transform: scale(1.5);
}
.btn.btn-outline-primary{
    color: #0d4f9a;
    border-color: #0d4f9a;
}
.most-popular{
    border: 3px solid #0d4f9a;
}
pre{
    font-family:"Lato","HelveticaNeue","Helvetica Neue",sans-serif;
}
.fa.fa-star{
    font-size: 300%;
}
@media screen and (max-width: 468px ) {
    body{
        justify-content: center;
        margin: auto;
    }
    .hideme{
        display: none;
    }
    .col-sm-3{
        border: 1px solid darkgray;
    }
    .jus-con{
        justify-content: center;
        text-align: center;
    }
    nav{
        display: grid;
        justify-content: center;
    }
    nav.div{
        padding-left: 0;
    }
    iframe, .frame1{
        width: 370px;
    }
    .fl-rt{float: right;}
    .fl-lf{float: left;}
    
}
  .hover50:hover{
    opacity: 50%;
  }
  .top-header{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  a:hover{
    opacity: 50%;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  p{
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif;
  }
  .q-mark{
    border-radius: 200%;
    padding: 2px 4px;
    background-color: rgb(7, 145, 7);
    color: white;
    float: right;
    right: 0;
    font-size: x-small;
    margin-right: 7px;
  }
  .go-back{
    z-index: -1;
  }