body{
    font-family:  "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif!important;
}
.dropdown-toggle:hover, .button-link:hover {
    opacity: 50%;
}

button.btn-outline-primary:hover, button.btn:hover{
    background-color: transparent;
    opacity: 50%;
}
@media screen and (max-width: 468px ) {
  body{
      justify-content: center;
      margin: auto;
  }
  .hideme{
      display: none;
  }
  .col-sm-3{
      border: 1px solid darkgray;
  }
  .jus-con{
      justify-content: center;
      text-align: center;
  }
  nav{
      display: grid;
      justify-content: center;
  }
  iframe, .frame1{
      width: 370px;
  }
  .op-0{
    opacity: 0% !important;
  }
  .vr{
    -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 0px;
  width: 0px;
  border: none;
  margin: 0px;
  padding: 0px;
  }
  .fl-rt{float: right;}
  .fl-lf{float: left;}
  
}

@media screen and (min-width: 1000px) {
    .nav-div{
        margin-left: 80px;
    }
    .cs-support{
     margin-left: 30px;   
    }
    .input-bar{
      width: 350px;
    }
  }
header{
    font-family:  "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif!important;
}

.checked {
    color: rgb(10, 177, 10);
  }
.zoomin:hover{
    transform: scale(1.5);
}
.btn.btn-outline-primary{
    color: #0d4f9a;
    border-color: #0d4f9a;
}
.most-popular{
    border: 3px solid #0d4f9a;
}
pre{
    font-family:"Lato","HelveticaNeue","Helvetica Neue",sans-serif;
}
.fa.fa-star{
    font-size: 300%;
}

  .hover50:hover{
    opacity: 50%;
  }
  .top-header{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  a:hover{
    opacity: 50%;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  p{
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif;
  }
  .q-mark{
    border-radius: 200%;
    padding: 2px 6px;
    background-color: rgb(7, 145, 7);
    color: white;
    top: -9px;
    right: -3px;
    font-size: x-small;
  }
  .go-back{
    z-index: -1;
  }
  .carousel-img{
    max-width: 60%; margin: auto;
  }
  .nav-btn-outline{
    border: none; color: #0d4f9a; font-size: 90%; font-weight: 600;
    text-decoration: none;
  }
  .lt-spc{
    letter-spacing: 2px;
  }
  .w40{
    width: 40%;
  }
  .w60{
    width: 60%;
  }
  .btn-blue{
    background-color:#023877;
  }
  .fs-95{
    font-size: 160%;
    font-weight: 600;
  }
  .fs-80{
    font-size: 80%;
  }
  .pr-0{
    padding: 0px 12px 0px 0px;
  }
  .review-box{
   
    position:fixed;
    border: 1px sold #0d4f9a;
    background-color: #0d4f9a;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-top: 250px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    justify-content: center;
    padding-top: 10px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .input-bar{
    
    padding: 7px;
    border: 1px solid lightgray!important;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif!important;
  }
  .search-img{
    width: 7%;
    right: 24px;
    top: 6px;
  }
  .input-bar:active{
    border: 2px solid purple!important;
  }
  .small-ics{
    bottom: 65px;
    right: 213px;
    width: 10%;
  }
  .border-none{
    border: none;
  }
  .h-cursor-pointer:hover{
    cursor: pointer;
  }